<!DOCTYPE html>
<html>
  <!--
    This is <%= pkg.title %> v<%= pkg.version %> file, created for <%= purpose %> purpose
    (C) 2013-2014 by <%= pkg.author.name %> and contributors. This software is licensed
    under the terms of the <%= pkg.license.name %> license.
    See <%= pkg.license.url %> for more detail.
    See <%= pkg.repository.url %> for a copy of the source code.
  -->
  <head>
    <title><%= pkg.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta charset="UTF-8">
    <% 
    const wrapInComments = (name, content) => (isProduction ? content : `<!-- START ${name} -->\n${content}<!-- END ${name} -->\n`);
    
    var output = '';

    output += isProduction ? '' : `<script type="text/javascript">window.MDwikiEnableDebug = true;</script>\n`;
    
    // INLINE CSS
    output += wrapInComments(fileList.cssMain, `<style id='style:${fileList.cssMain}'>\n${fileRead(fileList.cssMain)}</style>\n`);
    
    // INLINE SCRIPTS
    output += wrapInComments(fileList.jsLibs, `<script type="text/javascript">\n${fileRead(fileList.jsLibs)}</script>\n`);
    output += wrapInComments(fileList.jsMain, `<script type="text/javascript">\n${fileRead(fileList.jsMain)}</script>\n`);

    %><%= output %>
  </head>
  <body>

    <noscript>
      This website requires Javascript to be enabled. Please turn on Javascript
      and reload the page.
    </noscript>

    <div id="md-all">
    </div>
    <%= isProduction ? '' : `<script src="//localhost:35729/livereload.js"></script>` %>
  </body>
</html>
